@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

* {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 0px) {
  .body__login {
    background-color: #191414;
    padding: 3rem;
    height: 100vh;
  }
  .body__login header .logo {
    width: 30rem;
  }
  .body__login header .logo img {
    width: 100%;
  }
  .body__login .title div {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700 !important;
  }
  .body__login .input form .form-data {
    background-color: transparent;
    border: none;
    border-bottom: solid #FFFFFF 0.2rem;
    outline: none;
    font-size: 2rem;
    width: 30rem;
    color: #FFFFFF;
  }
  .body__login .input form .form-data::placeholder {
    color: #FFFFFF;
  }
  .body__login .input form .buttons__button-login, .body__login .input form .buttons__button-facebook {
    font-size: 2rem;
    width: 30rem;
    border: none;
    border-radius: 10rem;
    padding: 1rem;
    font-weight: 700;
    background-color: #FFFFFF;
    color: #191414;
  }
  .body__login .input form .buttons__button-facebook {
    background-color: rgb(5, 64, 159);
    color: #FFFFFF;
  }
  .body__login footer div {
    color: #FFFFFF;
    font-size: 1.5rem;
  }
  .body__login footer a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
  }
  .body__login footer a:hover {
    text-decoration: underline;
  }
}
@media (min-width: 0px) {
  .body__index {
    background-color: #191414;
  }
  .body__index header {
    padding: 2rem;
  }
  .body__index header .message {
    font-size: 2rem;
    color: #FFF;
    font-weight: 700;
  }
  .body__index header .actions__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .body__index header .actions__list-item {
    font-size: 2rem;
  }
  .body__index header .actions__list-item a {
    color: #FFF;
  }
  .body__index .playlist {
    padding: 2rem;
  }
  .body__index .playlist-item {
    text-decoration: none;
    padding: 0 !important;
    background-color: #363636;
    border-radius: 0.5rem;
  }
  .body__index .playlist-item__img {
    width: 4rem;
  }
  .body__index .playlist-item__img img {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    width: 100%;
  }
  .body__index .playlist-item__name {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 700;
    height: min-content;
  }
  .body__index .playlist-item .active {
    width: 1rem;
    height: 1rem;
    background-color: rgb(0, 186, 0);
    border-radius: 100%;
  }
  .body__index .sliders .slider {
    padding: 2rem;
  }
  .body__index .sliders .slider-title {
    font-size: 2rem;
    color: #FFF;
    font-weight: 700;
  }
  .body__index .sliders .slider-container {
    padding: 0;
    margin: auto;
    list-style-type: none;
    width: 100%;
    overflow-x: auto;
  }
  .body__index .sliders .slider-container__item-img {
    width: 10rem;
  }
  .body__index .sliders .slider-container__item-img img {
    border-radius: 1rem;
    width: 100%;
  }
  .body__index .sliders .slider-container__item-title {
    font-size: 1.1rem;
    color: #FFF;
  }
  .body__index .navbars {
    position: sticky;
    bottom: 0;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0px -10px 25px 10px rgb(0, 0, 0);
  }
  .body__index .navbars-player {
    background-color: #524343;
    padding: 1rem;
    border-radius: 1rem;
  }
  .body__index .navbars-player__img {
    width: 3rem;
  }
  .body__index .navbars-player__img img {
    width: 100%;
    border-radius: 0.5rem;
  }
  .body__index .navbars-player__artist {
    color: #FFF;
    font-size: 1.2rem;
  }
  .body__index .navbars-player-buttons {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .body__index .navbars-player-buttons li {
    font-size: 2rem;
    color: #FFF;
  }
  .body__index .navbars .navbar-menu__item {
    width: 10rem;
  }
  .body__index .navbars .navbar-menu__item a {
    text-decoration: none;
    color: #FFF;
  }
  .body__index .navbars .navbar-menu__item a i {
    font-size: 2rem;
  }
}
@media (min-width: 0px) {
  .body__settings {
    background-color: #191414;
  }
  .body__settings .header {
    padding: 2rem;
  }
  .body__settings .header .backToIndex a {
    color: #FFF;
    text-decoration: none;
    font-size: 2rem;
  }
  .body__settings .header-title {
    color: #FFF;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 2rem;
  }
  .body__settings .profile {
    padding: 2rem;
  }
  .body__settings .profile-container {
    text-decoration: none;
    color: #FFF;
  }
  .body__settings .profile-container__img {
    width: 5rem;
  }
  .body__settings .profile-container__img img {
    border-radius: 100%;
    width: 100%;
  }
  .body__settings .profile-container__name-title {
    font-size: 2rem;
  }
  .body__settings .profile-container__name-subtitle {
    font-size: 1.2rem;
  }
  .body__settings .profile-container__icon {
    font-size: 1.5rem;
  }
  .body__settings .account {
    padding: 2rem;
    gap: 2rem;
  }
  .body__settings .account-title {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .body__settings .account-type a, .body__settings .account-email a {
    text-decoration: none;
    color: #FFF;
  }
  .body__settings .account-type a .account-type__title, .body__settings .account-email a .account-type__title {
    font-size: 1.5rem;
  }
  .body__settings .account-email a .account-email__title {
    font-size: 1.5rem;
  }
  .body__settings .logOut {
    padding: 2rem;
    margin-bottom: 25rem;
    gap: 2rem;
  }
  .body__settings .logOut-title {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .body__settings .logOut a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
  }
  .body__settings .navbars {
    position: sticky;
    bottom: 0;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0px -10px 25px 10px rgb(0, 0, 0);
  }
  .body__settings .navbars-player {
    background-color: #524343;
    padding: 1rem;
    border-radius: 1rem;
  }
  .body__settings .navbars-player__img {
    width: 3rem;
  }
  .body__settings .navbars-player__img img {
    width: 100%;
    border-radius: 0.5rem;
  }
  .body__settings .navbars-player__artist {
    color: #FFF;
    font-size: 1.2rem;
  }
  .body__settings .navbars-player-buttons {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .body__settings .navbars-player-buttons li {
    font-size: 2rem;
    color: #FFF;
  }
  .body__settings .navbars .navbar-menu__item {
    width: 10rem;
  }
  .body__settings .navbars .navbar-menu__item a {
    text-decoration: none;
    color: #FFF;
  }
  .body__settings .navbars .navbar-menu__item a i {
    font-size: 2rem;
  }
}
@media (min-width: 0px) {
  .body__playlist {
    background-color: #191414;
  }
  .body__playlist .header {
    padding: 2rem;
  }
  .body__playlist .header-backToIndex a {
    text-decoration: none;
    color: #FFF;
    font-size: 2rem;
  }
  .body__playlist .header-img img {
    width: 20rem;
  }
  .body__playlist .playlist {
    padding: 2rem;
  }
  .body__playlist .playlist-info__name {
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
  }
  .body__playlist .playlist-info__profile-img {
    width: 2rem;
  }
  .body__playlist .playlist-info__profile-img img {
    width: 100%;
    border-radius: 100%;
  }
  .body__playlist .playlist-info__profile-name {
    color: #FFF;
    font-size: 1.1rem;
  }
  .body__playlist .playlist-info__actions-item i {
    color: #FFF;
    font-size: 2rem;
  }
  .body__playlist .playlist-info__actions-item:last-child {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    background-color: #1DB954;
    border-radius: 100%;
  }
  .body__playlist .playlist-info__actions-item:last-child i {
    color: black;
  }
  .body__playlist .playlist-music__item-img {
    width: 5rem;
  }
  .body__playlist .playlist-music__item-img img {
    width: 100%;
  }
  .body__playlist .playlist-music__item-artist__nameSong {
    color: #FFF;
    font-size: 1.25rem;
  }
  .body__playlist .playlist-music__item-artist__nameArtist {
    color: rgb(178, 178, 178);
    font-size: 1.1rem;
  }
  .body__playlist .playlist-music__item-settings i {
    color: #FFF;
    font-size: 2rem;
  }
  .body__playlist .navbars {
    position: sticky;
    bottom: 0;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0px -10px 25px 10px rgb(0, 0, 0);
  }
  .body__playlist .navbars-player {
    background-color: #524343;
    padding: 1rem;
    border-radius: 1rem;
  }
  .body__playlist .navbars-player__img {
    width: 3rem;
  }
  .body__playlist .navbars-player__img img {
    width: 100%;
    border-radius: 0.5rem;
  }
  .body__playlist .navbars-player__artist {
    color: #FFF;
    font-size: 1.2rem;
  }
  .body__playlist .navbars-player-buttons {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .body__playlist .navbars-player-buttons li {
    font-size: 2rem;
    color: #FFF;
  }
  .body__playlist .navbars .navbar-menu__item {
    width: 10rem;
  }
  .body__playlist .navbars .navbar-menu__item a {
    text-decoration: none;
    color: #FFF;
  }
  .body__playlist .navbars .navbar-menu__item a i {
    font-size: 2rem;
  }
}
@media (min-width: 0px) {
  .body__profile {
    background: linear-gradient(0deg, rgb(25, 20, 20) 88%, rgb(29, 185, 84) 100%, rgb(29, 185, 84) 100%);
  }
  .body__profile .header {
    padding: 2rem;
  }
  .body__profile .header .backToSettings a, .body__profile .header .options a {
    text-decoration: none;
    color: #FFF;
    font-size: 2rem;
  }
  .body__profile .info {
    padding: 2rem;
  }
  .body__profile .info-img {
    width: 12.5rem;
  }
  .body__profile .info-img img {
    width: 100%;
    border-radius: 100%;
  }
  .body__profile .info-name {
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
  }
  .body__profile .info button {
    background-color: transparent;
    color: #FFF;
    border: solid #524343 0.2rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .body__profile .info-followers div {
    font-weight: 700;
  }
  .body__profile .info-followers div .nro {
    color: #FFF;
    font-size: 1.25rem;
  }
  .body__profile .info-followers div .title {
    color: #a1a1a1;
    font-size: 1.25rem;
    letter-spacing: 2px;
  }
  .body__profile .playlists {
    padding: 2rem;
    gap: 1rem;
  }
  .body__profile .playlists-title {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .body__profile .playlists-container {
    gap: 1rem;
  }
  .body__profile .playlists-container__item-img {
    width: 5rem;
  }
  .body__profile .playlists-container__item-img img {
    width: 100%;
  }
  .body__profile .playlists-container__item-data .namePlaylist {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .body__profile .playlists-container__item-data .nroFollowers {
    color: #FFF;
    font-size: 1.25rem;
  }
  .body__profile .navbars {
    position: sticky;
    bottom: 0;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0px -10px 25px 10px rgb(0, 0, 0);
  }
  .body__profile .navbars-player {
    background-color: #524343;
    padding: 1rem;
    border-radius: 1rem;
  }
  .body__profile .navbars-player__img {
    width: 3rem;
  }
  .body__profile .navbars-player__img img {
    width: 100%;
    border-radius: 0.5rem;
  }
  .body__profile .navbars-player__artist {
    color: #FFF;
    font-size: 1.2rem;
  }
  .body__profile .navbars-player-buttons {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .body__profile .navbars-player-buttons li {
    font-size: 2rem;
    color: #FFF;
  }
  .body__profile .navbars .navbar-menu__item {
    width: 10rem;
  }
  .body__profile .navbars .navbar-menu__item a {
    text-decoration: none;
    color: #FFF;
  }
  .body__profile .navbars .navbar-menu__item a i {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
