@media (min-width: 0px){
    .body__index{
        background-color: $blackSpotify;
        header{
            padding: 2rem;
            .message{
                font-size: 2rem;
                color: #FFF;
                font-weight: 700;
            }
            .actions{
                &__list{
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    &-item{
                        font-size: 2rem;
                        a{
                            color: #FFF;
                        }        
                    }
                }
            }
        }
        .playlist{
            padding: 2rem;
            &-item{
                padding: 0!important;
                background-color: #363636;
                border-radius: .5rem;
                &__img{
                    width: 4rem;
                    img{
                        border-top-left-radius: .5rem;
                        border-bottom-left-radius: .5rem;
                        width: 100%;
                    }
                }
                &__name{
                    color: #FFF;
                    font-size: 1.2rem;
                    font-weight: 700;
                    height: min-content;
                }
                .active{
                    width: 1rem;
                    height: 1rem;
                    background-color: rgb(0, 186, 0);
                    border-radius: 100%;
                }
            }
        }
        .sliders{
            .slider{
                padding: 2rem;
                &-title{
                    font-size: 2rem;
                    color: #FFF;
                    font-weight: 700;
                }
                &-container{
                    padding: 0;
                    margin: auto;
                    list-style-type: none;
                    width: 100%;
                    overflow-x: auto;
                    &__item{
                        &-img{
                            width: 10rem;
                            img{
                                border-radius: 1rem;
                                width: 100%;
                            }
                        }
                        &-title{
                            font-size: 1.1rem;
                            color: #FFF;
                        }
                    }
                }
            }
        }
        .navbars{
            position: sticky;
            bottom: 0;
            padding: 0 1rem;
            background: rgba($color: #000000, $alpha: .9);
            box-shadow: 0px -10px 25px 10px rgb(0 0 0);
            &-player{
                background-color: #524343;
                padding: 1rem;
                border-radius: 1rem;
                &__img{
                    width: 3rem;
                    img{
                        width: 100%;
                        border-radius: .5rem;
                    }
                }
                &__artist{
                    color: #FFF;
                    font-size: 1.2rem;
                }
                &-buttons{
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    li{
                        font-size: 2rem;
                        color: #FFF;
                    }
                }
            }
            .navbar{
                &-menu{
                    &__item{
                        width: 10rem;
                        a{
                            text-decoration: none;
                            color: #FFF;
                            i{
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}